body{
    margin: 0px;
}
header{
    background-color:#d6c7c7;
}

ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    margin-top: 0px;
}

li a {
    display: inline-block;
    color: black;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
li a:hover{
    text-decoration: none;
    color: white
}
div.carpintero{
    margin-right: 1000px;
}